* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}
html {
  box-sizing: border-box;
  font-size: 62.5%;
  @media only screen and (max-width: 56.25em) {
    font-size: 56.25%;
  }
  @media only screen and (max-width: 43.75em) {
    font-size: 50%;
  }
}
body {
  background-color: $color-background;
  font-family: "Karla", sans-serif;
  font-weight: 400;
  position: relative;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.blob {
  position: absolute;
  z-index: -1;
  &--1 {
    width: 40rem;
    top: 50%;
    left: 10%;
  }
  &--2 {
    width: 30rem;
    top: 5%;
    right: 10%;
  }
}

.loading {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  animation: loading 0.5s infinite;
}
