* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}
html {
  box-sizing: border-box;
  font-size: 62.5%;
}
body {
  background-color: $color-background;
  font-family: "Karla", sans-serif;
  font-weight: 400;
  position: relative;
  min-height: 100vh;
}
.blob {
  position: absolute;
  z-index: -1;
  &--1 {
    width: 40rem;
    top: 50%;
  }
  &--2 {
    width: 30rem;
    top: 5%;
    right: 10%;
  }
}
