.btn {
  background-color: $color-md-blue;
  border: none;
  border-radius: 10px;
  font-family: inherit;
  font-size: 1.8rem;
  padding: 1rem 4rem;
  color: $color-background;
  cursor: pointer;
  box-shadow: 0rem 1rem 2rem rgba(0, 0, 0, 0.2);
  transition: all 0.2s;
  @media only screen and (max-width: 36.5em) {
    margin-bottom: 8rem;
  }
  &:hover {
    transform: translateY(-0.3rem);
    box-shadow: 0rem 1.5rem 3rem rgba(0, 0, 0, 0.2);
  }
  &:active {
    transform: translateY(0rem);
    box-shadow: 0rem 1rem 2rem rgba(0, 0, 0, 0.2);
  }
}
